header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: black;
}
.links ul {
    display: flex;
    gap: 14px;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}
main div {
    background-color: gray;
    height: 400px;
}
.hero {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.hero img {
    width: 500px;
    height: auto;
    border-radius: 8px;
}
.hero div {
    background-color: black;
}

.content-cards {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: white;
}
.card {
    background-color: white;
    padding: 20px;
    border: 6px solid blue;
    width: 300px;
    height: 200px;
    border-radius: 8px;
}
.section-2 {
    background-color: white;
    text-align: center;
    color: black;
}

.quote-section {
    background-color: rgb(246, 241, 241);
    color: black;
    text-align: center;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote-section p {
    font-size: 24px;
    font-weight: 300;
    color: rgb(137, 129, 129);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.info-container {
      background-color: #4a78ff;      /* blue background */
    margin: 60px auto;              /* top/bottom spacing */
    padding: 40px 60px;             /* inner spacing */
    border-radius: 8px;             /* rounded corners */

    display: flex;                  /* horizontal layout */
    justify-content: space-between; /* space between text + button */
    align-items: center;            /* vertical centering */

    width: 70%;                     /* container width */
    color: white; 
    height: 50%;
}
.info-container div {
    height: 10px;
}
.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.cta-text h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    background-color: #4a78ff;
}

.cta-text p {
    margin: 6px 0 0 0;
    font-size: 16px;
    font-weight: 300;
}